div.card{
	height:200px;
	width:600px;
	background-image: url("http://beforeitsnews.com/mediadrop/uploads/2013/38/55d5d78de141f33b9018dbc11af7a00b20fed2dc.jpg");
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: -190px;
	margin-top: 100px;
	border-radius: 20px;
	}
	div.card:hover{
    -webkit-filter:blur(1px);
	}

div.box{
	position: relative;
	top:25px;
	left:350px;
  	height: 60px;
	width: 60px;
	background-color:#9DD5FF;
	box-shadow: 0 20px 19px 0 rgba(0, 0, 0, 0.2), 0 6px 26px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding:0.1px;
}

p{
	font-size: 60px;
	position: relative;
	top:20px;
	color:#F2F3F4;
	font-weight:;
	left:40px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 6px 6px 18px #000000;
}
body{
	background-color: #7e94d8;
}
div.mars img{
	background-color: transparent;
	position: relative;
	left:880px;
	bottom:100px;
	box-shadow: 0 25px 39px 0 rgba(0, 0, 0, 0.2), 0 6px 26px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

